.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gg-sidebar,
.gg-sidebar::before {
    display: block;
    box-sizing: border-box;
    height: 16px
}
.gg-sidebar {
    border-left: 2px solid;
    position: relative;
    transform: scale(var(--ggs,1));
    width: 18px
}
.gg-sidebar::before {
    content: "";
    position: absolute;
    width: 14px;
    border: 2px solid;
    top: 0;
    left: 2px
}